// :root {
//     --bg-color:white;
//     --text-color-main:black;
//     --webkit-backdrop-filter: blur(10px);
// }

// body {
//     background-color:  var(--bg-color);
//     color : var(--text-color-main);
//     // webkit-backdrop-filter:  var(--webkit-backdrop-filter);
// }
body{
    background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}